# SPDX-FileCopyrightText: 2025 Eli Array Minkoff
#
# SPDX-License-Identifier: 0BSD

[package]
name = "intcode"
version = "0.1.0"
edition = "2024"

[[bin]]
name = "intcode_ascii"

[[bin]]
name = "intcode_as"
required-features = [ "asm" ]

[dependencies]
chumsky = { version = "0.12.0", optional = true }

[features]
default = ["asm"]
asm = ["dep:chumsky"]
